header {
background-color: green;
}
nav{
background-color: aqua;
}
main {
background-color: yellow;
}
.aside1{
    background-color:darkorchid
}
.aside2{
    background-color:rgb(195, 140, 222)
}
footer {
background-color: pink;
}
.conteneur {
background-color: red;
}

*{
    box-sizing: border-box;
    margin: 0;
}
/* ------------------ */

nav ul{
}

nav ul li{
    height: 40px;
}

nav ul li a {
	border: 2px solid black;
}

nav a.active {
    /*La classe active est ajouté afin de distinguer le lien de la page courante des autres liens */
    background-color:cadetblue;
}

/*RWD*/
.conteneur{
    height: 100vh;/*Afin d'étirer la balise sur l'ensemble du viewport: vh (Viewport Height)*/
}

header{
}
nav{
}
main{
}
footer{
}
.aside1{
}
.aside2{
}

@media only screen and (600px<=width) {
    /* POUR TABLETTE : 
    Le style dans ce media-query va être appliqué 
    EN PLUS du style CSS ci-dessus (pour téléphone).
    */
    .conteneur {

        }

    nav ul li{
        
    } 
}

@media only screen and (768px<=width){ 
    /* POUR ORDINATEUR
    Le style dans ce media-query va être appliqué 
    EN PLUS du style CSS pour téléphone et celui pour tablette
    puisque une largeur supérieure à 768px est aussi supérieure à 600px.
    */

}